/****************************/ 
/******    Variables   ******/
/****************************/
/* Fonts */
$global-font: Arial, Helvetica, sans-serif;
$p-font-size: 14px;
$h2-font-size: 50px;
/* Colours */
$main-background-color: white;
$carousel-colour-primary: white;
$carousel-colour-secondary: #efefef;
$standard-border: 1px solid black;
$indicator-color: black;
$indicator-color-active: grey;
/* Misc */
$standard-border-radius: 5px;

/* Global Wrapper for Plugin */
.cus-wellbeing-assessment{
    font-family: $global-font;
    // background-color: $main-background-color;
    // border: $standard-border;
    // border-radius: $standard-border-radius;
    p{
        font-size: $p-font-size;
    }
    h2{
        font-size: $h2-font-size;
        text-align: center;
        margin: 20px 0 10px 0;
    }
}

#cus-carousel-assessment{
    padding-top: 30px;
    max-width: 40vw;
    margin: auto;
}

.cus-intro-text{
    padding: 20px;
}
  


/* Form global settings */
#wellnessAssessment{
    padding: 20px;
}


/*  */
.carousel-item{
    border: $standard-border;
    border-radius: $standard-border-radius;
    .question:nth-child(5){
        border-bottom: 0;
        border-radius: 0 0 5px 5px;
    }
    .question:nth-child(1){
        border-radius: 5px 5px 0 0;
    }
    .question:nth-child(odd){
        background-color: $carousel-colour-primary;
    }
    .question:nth-child(even){
        background-color: $carousel-colour-secondary;
    }
}
/* Custom question container */
.question{
    // border-bottom: $standard-border;
    padding: 20px 0 20px 0;
}

/* Custom question text */
.cus-question-text{
    text-align: center;
    color: #425967;
    font-weight: bolder;
}

/* Custom carousel links for controling the carousel */
.cus-car-control{
    position: relative;
    display: inline;
    width: auto;
}

/* Custom carousel buttons container */
.cus-car-button-cont{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

/* Custom pagnation buttons for carousel */
.cus-car-button{
    width: 200px;
    font-size: 15px;
}

/* Custom indicators */
.cus-indi{
    position: static;
    margin-bottom: 50px;
    > li{
        background: $indicator-color;
    }
    > li.active{
        background: $indicator-color-active;
    }
}

#cus-user-questions{
    padding: 50px;
    max-width: 70%;
    margin: auto;
}

.cus-user-gender{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cus-submit-button{
    font-size: 20px;
    padding: 10px;
    width: 200px;
    display: block;
    margin: auto;
}

/* Error Message */
.cus-question-not-answered{
    color: red;
    display: block;
    text-align: center;
    font-size: 10px;
}



/* Custom Radio Buttons */
.cus-toggle {
    // margin: 0 0 1.5rem;
    box-sizing: border-box;
    font-size: 0;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: stretch;
  
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -webkit-box-align: stretch;
    input {
        width: 0;
        height: 0;
        position: absolute;
        left: -9999px;
        + label {
            margin: 0;
            padding: 7.5px 20px;
            box-sizing: border-box;
            /* position: relative; */
            display: inline-block;
            border: solid 1px #DDD;
            background-color: white;
            // background-color: #ebebeb;
            font-size: 10px;
            line-height: 140%;
            // font-weight: 600;
            text-align: center;
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            -webkit-transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
            transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
            /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
            /* flex: 0 0 auto;  */
        }
        + label:first-of-type {
            border-radius: 6px 0 0 6px;
        }
        + label:last-of-type {
            border-radius: 0 6px 6px 0;
        }
    }
    input:hover + label {
        border-color: #213140;
    }
    input:checked + label {
        background-color: #4B9DEA;
        color: #FFF;
        box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
        border-color: #4B9DEA;
        z-index: 1;
    }
}
// Mobile
@media (max-width: 800px) {
    .cus-toggle input + label {
        padding: .75rem .25rem;
        -webkit-box-flex: 0;
        // flex: 0 0 50%;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
}


.cus-controls-container{
    padding: 30px 0 20px 0;
}
#cus-question-counter-cont{
    margin: 0 0 0 10px;
}
/* Progress bar BACKGROUND */
.progress{
    margin: 0 10px 10px 10px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
}

#cus-submit-button{
    margin: 0 auto 30px auto;
    background-color: #007bff;
}